/** main alimentacion*/
.frutas{
    padding-left: 40px;
    width: 40%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.priPartAliment{ 
    h2{
    padding: 20px;
    font-style: inherit;
    font-family: 'Poppins', sans-serif;
}
    h3{
    padding: 10px;
    font-style: inherit;
    font-family: 'Poppins', sans-serif;
}
}
.partAliment{
    padding: 20px;
    font-size: 24px;
    font-style: inherit;
    font-family: 'Poppins', sans-serif;
}
