.mainNov{
    width: 100%;
    margin: 0;
}
h2{
    padding: 20px;
}
.asideNov{
    color: $color-white;
    background: #34e89e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
    .cardN {
        img{
            padding-left: 40px;
    }
    /**grosor titulo 3 novedades*/
    h3{
        font-weight: 600;
    }
    /**texto de las cards novedades*/
    p{
        margin: 0;
        padding-left: 45px;
        font-size: 16px;
        font-weight: 330;
    }
}

/**aside novedades*/
aside{
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 60px;
    font-style: inherit;
    font-family: 'Poppins', sans-serif;
    /**h3 aside novedades*/
    h3{
        font-size: 30px;
    }
}
